/*-- GLOBAL --*/
.hide {
  display: none;
}

/*-- WHITEBOARD --*/
#whiteboard {
  background-image: url('/field.png');
  height: 720px;
  width: 960px;
}

/*-- BUTTON GROUPS --*/
.button-group {
  display: flex;
}

.button-group input[type=button] {
  margin: 0;
  background-color: #4CAF50; /* Green background */
  border: none;
  color: white; /* White text */
  padding: 10px 24px; /* Some padding */
  cursor: pointer; /* Pointer/hand icon */
}

.button-group input[type=button].active {
  background-color: red;
}

.button-group input[type=button]:first-child {
  border-radius: 5px 0 0 5px;
}

.button-group input[type=button]:last-child {
  border-radius: 0 5px 5px 0;
}

.button-group input[type=button]:not(:last-child) {
  border-right: 1px solid green;
}
